*{
  margin: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: center;
  padding-right: 5px;
 
  background: rgb(241,188,211);
background: radial-gradient(circle, rgba(241,188,211,1) 0%, rgba(165,198,238,1) 100%);
}

a{
  text-decoration: none;
  color: #333e72;
  padding: 10px;
  font-size: 20px;
 
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}
/* .Home{
  background-color: #3D8361;
  color: #3D8361;
}
.About{
  background-color: #D6CDA4;
  color: #1C6758;
} */
h1{
  display: flex;
  justify-content: left;
  align-items: left;
  color: #3D8361;
}

